
 {% extends 'base.html' %}

{% load static %}

{% block title %}
UVID | Appointment
{% endblock title %}

{% block content %}     

<div class=" p-t-180 p-b-100 font-poppins" style="background-image: url({% static 'images/a.jpg' %});  background-position: center; background-repeat: no-repeat; background-size: cover; height:100%">
        <br><br>
        <div class="">
            <div class="card card-4" style="background-color: darkslategray; color:black;">
                
                <div class="card-body">
                    <h2 class="title text-white"  style="font-size: 35px;">{{msg}}</h2>
                    <h2 class="title text-white"  style="font-size: 35px;">Appointment Form</h2>
                    <form method="POST" action="/appointment/" id="indexForm" data-courses-url="{% url 'ajax_load_courses' %}">
                    {% csrf_token %}
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label text-white">first name</label>

                                       {% if user.is_authenticated %}
                                       <input class="input--style-4" type="text" name="first_name" value="{{user.first_name}}" onkeypress='charOnly(event)' required>
                                        {% else %}
                                       <input class="input--style-4" type="text" name="first_name" value="" onkeypress='charOnly(event)' required>
                                        {% endif %}
                                    {% comment %} <input class="input--style-4" type="text" name="first_name" value="{{user.firstname}}"> {% endcomment %}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label text-white">last name</label>
                                    {% if user.is_authenticated %}
                                    <input class="input--style-4" type="text" name="last_name" value="{{user.last_name}} " onkeypress='charOnly(event)' required>
                                    {% else %}
                                     <input class="input--style-4" type="text" name="last_name" onkeypress='charOnly(event)' required>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div>
                                    <label class="label text-white">Date</label>
                                    <div class="input-group-icon">
                                         <input type="date" class="form-control" id="date" name="date" required="required" />
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-6">
                                    <label class="label text-white">Gender</label>
                                        <label class="text-white">Male :</label>    <input type="radio" checked="checked" name="gender" value="Male">
                                        <label class="text-white">Feamle :</label>    <input type="radio" name="gender" value="Female">
                        </div>
                        <div class="row ml-1">
                            <div class="col-6">
                                <div class="input-group text-white">
                                    <label class="label text-white">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label text-white">Phone Number</label>
                                    <input class="input--style-4" maxlength="10" minlength="8" onkeypress='validate(event)' type="text" name="phone_number">
                                </div>
                            </div>
                        </div>
                        <Br>
                        <div class="input-group ml-4">
                        <div class="col-6">
                        <label  class="text-white"> Department </label> <br>
                            
                            <select name="department" id="department" class="form-control">
                            <option value = ""> --- Select Department --- </option> 
                            {% for i in department %} 
                            <option value = "{{i.id}}"> {{i.name}} </option>
                            {% endfor %}
                            </select>
                            <br><label class="text-white">Doctors</label> 
                            <select name="doctors" id="doctors" class="form-control">
                            </select>
                            </div>
                        </div>
                           
                            </div>
                        <div class="input-group ml-4">
                            <label class="label text-white">Symptoms</label>
                            <div class="col-6">
                                <select name="subject">
                                    <option disabled="disabled" selected="selected">Choose option</option>
                                    <option>Subject 1</option>
                                    <option>Subject 2</option>
                                    <option>Subject 3</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Book an Appointment</button>
                           
                        </div>
                        


                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}
{%block js%}
<script>

    window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
            // Handle page restore.
            window.location.reload();
        }
        });

    function validate(evt) {
       var theEvent = evt || window.event;
     
       // Handle paste
       if (theEvent.type === 'paste') {
           key = event.clipboardData.getData('text/plain');
       } else {
       // Handle key press
           var key = theEvent.keyCode || theEvent.which;
           key = String.fromCharCode(key);
       }
       var regex = /[0-9]|\./;
       if( !regex.test(key) ) {
         theEvent.returnValue = false;
         if(theEvent.preventDefault) theEvent.preventDefault();
       }
     }


     function charOnly(evt) {
       var theEvent = evt || window.event;
     
       // Handle paste
       if (theEvent.type === 'paste') {
           key = event.clipboardData.getData('text/plain');
       } else {
       // Handle key press
           var key = theEvent.keyCode || theEvent.which;
           key = String.fromCharCode(key);
       }
       var regex =/^[A-Za-z\s]+$/;
       if( !regex.test(key) ) {
         theEvent.returnValue = false;
         if(theEvent.preventDefault) theEvent.preventDefault();
       }
     }


     var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
                dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 

        today = yyyy+'-'+mm+'-'+dd;
        document.getElementById("date").setAttribute("min", today);
         </script>

         <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script> 

$("#department").change(function (){
    var urlss = $("#indexForm").attr("data-courses-url");
    var departmentId = $(this).val();
    
    $.ajax({
        url:urlss,
        data: {
            'department' : departmentId
        },
        success: function(data){
            $("#doctors").html(data);
        }

    });

});

</script>

{% endblock js%}