

 {% extends 'base.html' %}

{% load static %}

{% block title %}
UVID | Contct Us
{% endblock title %}

{% block content %}     

    <div class="page-wrapper  p-t-180 p-b-100 font-poppins" style="background-image: url({% static 'images/c.jpg' %});  background-position: center; background-repeat: no-repeat; background-size: cover; height:100%">
        <br><br>
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body" style="background-color: black;">
                    <h2 class="title" style=" font-size: 30px; font-weight: bold; color:#ccc;">Contact Us</h2>
                    <form action="/contactSave/" method="POST" >
                    {% csrf_token %}
                        <div class="input-group">
                            <input class="input--style-3" type="tel" placeholder="Name" name="name" onkeypress='charOnly(event)' required>
                        </div>
                     
                        <div class="input-group">
                            <input class="input--style-3" type="email" placeholder="Email" name="email" required>
                        </div>
                       
                        <div class="input-group">
                            <input class="input--style-3" type="tel" maxlength="10" minlength="8"  placeholder="Phone" name="phone" onkeypress='validate(event)' required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" type="tel" placeholder="message" name="message" required>
                        </div>
                        <h4 class="title" style=" font-size: 30px; font-weight: bold; color:#ccc;">{{message}}</h4>
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="ftco-footer ftco-section img" style="background-image: url(images/footer-bg.jpg);">
    	<div class="overlay"></div>
      <div class="container-fluid px-md-5">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">UVID</h2>
              <p>Your virtual doctors</p>
              <ul class="ftco-footer-social list-unstyled mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="index.html"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                <li><a href="index.html"><span class="icon-long-arrow-right mr-2"></span>Carrer With Us</a></li>
                <li><a href="index.html"><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
                <li><a href="index.html"><span class="icon-long-arrow-right mr-2"></span>Doctors</a></li>
                <li><a href="blog-single.html"><span class="icon-long-arrow-right mr-2"></span>Blog</a></li>
                <li><a href="contact.html"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Emergency Services</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Qualified Doctors</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Outdoors Checkup</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>24 Hours Services</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Gautam Nagar bhopal (MP)</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">07554012502</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope pr-4"></span><span class="text">bytezip@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
	
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by <a href="bytezip.in" target="_blank">Akrison Group of Compines</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
 <script>

    window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
            // Handle page restore.
            window.location.reload();
        }
        });

        function validate(evt) {
       var theEvent = evt || window.event;
     
       // Handle paste
       if (theEvent.type === 'paste') {
           key = event.clipboardData.getData('text/plain');
       } else {
       // Handle key press
           var key = theEvent.keyCode || theEvent.which;
           key = String.fromCharCode(key);
       }
       var regex = /[0-9]|\./;
       if( !regex.test(key) ) {
         theEvent.returnValue = false;
         if(theEvent.preventDefault) theEvent.preventDefault();
       }
     }


     function charOnly(evt) {
       var theEvent = evt || window.event;
     
       // Handle paste
       if (theEvent.type === 'paste') {
           key = event.clipboardData.getData('text/plain');
       } else {
       // Handle key press
           var key = theEvent.keyCode || theEvent.which;
           key = String.fromCharCode(key);
       }
       var regex =/^[A-Za-z\s]+$/;
       if( !regex.test(key) ) {
         theEvent.returnValue = false;
         if(theEvent.preventDefault) theEvent.preventDefault();
       }
     }





         </script>

 {% endblock content %} 



<!-- end document-->