 {% extends 'base.html' %}

{% load static %}

{% block title %}
UVID | Contct Us
{% endblock title %}

{% block content %}     




      <br><br><br><br>
      <br><br><br>
    <section class="ftco-counter img ftco-section ftco-no-pt ftco-no-pb" id="about-section" > 
    	<div class="container" >
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url('{% static 'images/Jan.jpg' %}');">
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 py-md-5">
    				<div class="py-md-5">
	    				<div class="row justify-content-start pb-3">
			          <div class="col-md-12 heading-section ftco-animate p-4 p-lg-5">
			            <h2 class="mb-4"> <span>Jan Aushadhi Kendra</span></h2>
			            <p style="color:black;">Due to COVID-19 there is a shortage of hospital and unablability of Doctors.For some basic of fle disease we will provide a platefrom to those patient who are suffreing from those diseases.
							It is virtual service platefrom where patient can communicate with doctors for there symptoms of verious dieases.
							Our application basically acquire general information ralted to the patient's health condition an provide them a virtual basic support.
							It will also provide exposure to various generic and ayurvedic consultant.</p>
			           
			          </div>
			        </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
    <hr>

    
   <section> <div class="page-wrapper  p-t-100 p-b-50" >
      <div class="wrapper wrapper--w900">
          <div class="card card-6">
             
              <div class="card-body" style="width: 100%;" >
                  <form method="POST" action="/jan_aushadhi_kendra_Save/" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="card-heading">
                      <h2 style="text-align: left; margin-left:20px" >Registration Form</h2>
                  </div>

                      <div class="form-row">
                          <div class="name">Full name</div>
                          <div class="value">
                              <input class="input--style-6" type="text" name="name">
                          </div>
                      </div>
                      <div class="form-row">
                        <div class="name">Mobile no.</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="phone">
                        </div>
                    </div>
                 
                      <div class="form-row">
                          <div class="name">Email address</div>
                          <div class="value">
                              <div class="input-group">
                                  <input class="input--style-6" type="email" name="email" placeholder="example@email.com">
                              </div>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="name">Address</div>
                          <div class="value">
                              <div class="input-group">
                                  <textarea class="textarea--style-6" name="address" placeholder="Address"></textarea>
                              </div>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="name">Upload Land agreement</div>
                          <div class="value">
                              <div class="input-group js-input-file">
                                  <input  type="file" name="land_agreement" id="file">
                              </div>
                             </div>

                             <div class="name">Upload Aadhar card</div>
                             <div class="value">
                                 <div class="input-group js-input-file">
                                 <input type="file"  id="File" name="aadhar_card">
                                     {% comment %} <input class="input-file" type="file" name="aadhar_card" id="file">
                                     <label class="label--file" for="file">Choose file</label>
                                     <span class="input-file__info">No file chosen</span> {% endcomment %}
                                 </div>
                                </div>
                                <div class="name">Upload Status of applicant</div>
                                <div class="value">
                                    <div class="input-group js-input-file">
                                        <input  type="file" name="status_of_applicant" id="file">
                                        
                                    </div>
                                   </div>
                                   <div class="name">Upload Pharmacist certificate</div>
                                   <div class="value">
                                       <div class="input-group js-input-file">
                                           <input  type="file" name="pharmacist_certificate" id="file">
                                           
                                       </div>
                                      </div>
                                      <div class="name">Upload Application form</div>
                                      <div class="value">
                                          <div class="input-group js-input-file">
                                              <input  type="file" name="application_form" id="file">
                                              
                                          </div>
                                         </div>
                                         <div class="name">Upload PAN card</div>
                                         <div class="value">
                                             <div class="input-group js-input-file">
                                                 <input  type="file" name="pan_card" id="file">
                                                 {% comment %} <label class="label--file" for="file">Choose file</label>
                                                 <span class="input-file__info">No file chosen</span> {% endcomment %}
                                             </div>
                                            </div>
                                            <div class="name">Upload Society registration certificate</div>
                                            <div class="value">
                                                <div class="input-group js-input-file">
                                                    <input type="file" name="society_registration_certificate" id="file">
                                                    {% comment %} <label class="label--file" for="file">Choose file</label>
                                                    <span class="input-file__info">No file chosen</span> {% endcomment %}
                                                </div>
                                               </div>
                                              
                      </div>
                       <div class="card-footer" style="width: 100%;">
                  <button class="btn btn--radius-2 btn--blue-2" type="submit">Send Application</button>
              </div>
                  </form>
              </div>
             
          </div>
      </div>
  </div>
   </section>



{% endblock content %} 