 {% extends 'base.html' %}

{% load static %}

{% block title %}
UVID | Contct Us
{% endblock title %}

{% block content %}     




<div class="page-wrapper  p-t-180 p-b-100 font-poppins" style="background-image: url({% static 'images/c.jpg' %});  background-position: center; background-repeat: no-repeat; background-size: cover; height:100%">


<br><br><br><br><br><br>
   
     <br>
     <div class="card mb-3  bg-info" style="max-width: 200px; margin-top: 80px; margin-left: 40px; border: none;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="{% static 'images/d2.jpg' %}" class="card-img" alt="">
        </div>
        <div class="col-md-6">
          <div class="card-body bg-info" style="width: 400px;">
            <p style="font-size: 15px; color: black;">Prescription<br> Dr.priya<br> Time 4:38 date 20/09/2020</p>
           <p class="card-text" style="color:black;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted"><a href="#" class="btn btn-success">Download</a>
          <a href="#" class="btn btn-dark">View</a></small></p>
          <p style="color:darkblue; font-size: 12px;">Note: After 28 days of appointment .You can't download your priscription.</p>
          </div>
        </div>
      </div>
    </div>
   
    <div class="card mb-3  bg-info" style="max-width: 200px; margin-top: 80px; margin-left: 40px; border: none;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% static 'images/d2.jpg' %}" class="card-img" alt="...">
        </div>
      
        <div class="col-md-8">
          <div class="card-body bg-info" style="width: 400px;">
          
              <p style="font-size: 15px; color: black;">Prescription<br> Dr.priya</br>Time 4:38 date 20/09/2020</p>
            <p class="card-text" style="color:black;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted"><a href="#" class="btn btn-success">Download</a>
              <a href="#" class="btn btn-dark">View</a></small></p>
              <p style="color:darkblue; font-size: 12px;">Note: After 28 days of appointment .You can't download your priscription.</p>
              
          </div>
        </div>
      </div>
    </div>



</div>

{% endblock content %} 