 {% extends 'base.html' %}

{% load static %}

{% block title %}
UVID | Contct Us
{% endblock title %}

{% block content %}     


 <div class="page-wrapper  p-t-180 p-b-100 font-poppins" style="background-image: url({% static 'images/c.jpg' %});  background-position: center; background-repeat: no-repeat; background-size: cover; height:100%">

<br><br>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4" style="background-color: darkslategray; color:black;">
                <div class="card-body">
                    <h2 class="title"  style="font-size: 35px;">Test Booking Form</h2>
                    <form method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">first name</label>
                                    <input class="input--style-4" type="text" name="first_name">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">last name</label>
                                    <input class="input--style-4" type="text" name="last_name">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Date</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="date">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            
                          
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Gender</label>
                                    <div class="p-t-10">
                                        <label class="radio-container m-r-45">Male
                                            <input type="radio" checked="checked" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Female
                                            <input type="radio" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                    <input class="input--style-4" type="text" name="phone">
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <label class="label">test type</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="subject">
                                    <option disabled="disabled" selected="selected">Choose option</option>
                                    <option>Blood Grouping</option>
                                    <option>Blood Sugar(pp& fasting)</option>
                                    <option>Stool test</option>
                                    <option>Hemogram With ESR</option>
                                    <option>Lipid Profile</option>
                                    <option>RFT</option>
                                    <option>LFT</option>
                                    <optino>PFT</optino>
                                    <option>serum calcicum</option>
                                    <option>Uric Acid</option>
                                    
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        
                        <div class="input-group">
                            <label class="label">upload Priscription</label>
                            <div class="rs-select2 js-select-simple select--no-search">
                                
                                    <div class="input-group js-input-file">
                                        <input class="input-file" type="file" name="file_cv" id="file">
                                        <label class="label" for="file">Choose file</label>
                                </div>
                                    
                                   </div>
                    
                            </div>
                        
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Book an test</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %} 